.expanded-table{
  table {
        td, th {
            text-align: center;
        }
        td{
            border: 1px solid #9E9E9E;
            border-radius: 10px;
        }
        th{
            background-color: #dddddd;
            border: 1px solid #9E9E9E;
            border-radius: 10px;
        }
    }  
}

  
 